.titulo h1 {
    font-size: 40px;
}

.titulo p {
    width: 70%;
    text-align: justify;
}

.tela2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tela2 h1 {
    color: #247552;
    justify-self: center;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.tela2 h2 {
    color: #247552;
    justify-self: baseline;
    padding-left: 5rem;
}

.tela2 p, li {
    color: #247552;
    width: 95%;
    font-size: x-large;
    padding-left: 7rem;
}

.grafico {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    color: #247552;
}
.menuEnergias{
    height: 100%;
    width: 100%;
    background-color: #247552;
    margin-top: 3rem;
    padding: 17px;
}
.menuEnergias h1{
    margin: 50px 0 0 0;
    color: white;
}
.menuEnergias h2{
    color: white;
}
.opcoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}
.opcao a{
    background-color: #68D391;
    border-radius: 12px;
    text-align: center;
    height: 200px;
    width: 200px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcao a:hover {
    transform: scale(1.05);
}
.opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcao h2{
    padding-left: 0;
}
.opcao img{
    width: 190px;
    height: 190px;
}