<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/OqueSao.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/energias.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagens/icon.svg') }}" alt="200%" >

    <title>Greenergy</title>
</head>
<style>
    .tela1 {
        background-image: url("{{ url_for('static', filename='imagens/paisagemSolar.png') }}");
    }
</style>

<body>
    <!-- Início -->
    <div class="tela1">
        <!-- Menu navegação -->
        <div class="menuNavegação">
            <!-- Título -->
            <h1><a href="/index">Greenergy</a></h1>
            <!-- Ícone do menu hamburguer -->
            <div class="menu-icon" onclick="toggleMenu()">☰</div>
            <!-- Navegação -->
            <nav>
                <a href="/index#Sobre">Sobre</a>
                <a href="/index#Contato">Contato</a>
                <a href="/OqueSao">O que são</a>
                <div class="dropdown">
                    <a href="/OqueSao#menuEnergias" class="dropbtn">Energias</a>
                    <div class="dropdown-content">
                        <a href="/solar">Solar</a>
                        <a href="/eolica">Eólica</a>
                        <a href="/hidrica">Hídrica</a>
                        <a href="/oceanica">Oceânica</a>
                        <a href="/biomassa">Biomassa</a>
                        <a href="/geotermica">Geotérmica</a>
                    </div>
                </div>
                <!-- <a href="#">Estatísticas</a> -->
            </nav>
        </div>
        <div class="titulo">
            <h1>Energia Solar</h1>
            <p>
                A energia solar é obtida através da luz e do calor do sol, sendo uma das fontes mais
                limpas e sustentáveis. Ela pode ser transformada em eletricidade ou usada diretamente
                para aquecer ambientes e líquidos.
            </p>
        </div>
    </div>

    <div class="tela2">
        <div>
            <h1>Tipos</h1>
            <div class="conteudo">
                <div>
                    <h2>Fotovoltaica</h2>
                    <p>
                        A energia solar fotovoltaica converte diretamente a luz do sol em eletricidade, sendo uma das fontes de energia renovável mais populares e amplamente utilizadas no mundo. Este tipo de energia se destaca por sua facilidade de instalação e por exigir baixa manutenção ao longo do tempo, o que a torna uma excelente opção para quem busca economia na conta de luz. Além disso, a energia solar fotovoltaica pode ser aplicada em sistemas conectados à rede elétrica, conhecidos como sistemas on-grid, ou em sistemas isolados com baterias, os chamados sistemas off-grid. Estes últimos são particularmente vantajosos para áreas remotas, onde o acesso à rede elétrica convencional é limitado ou inexistente. A versatilidade e os benefícios dessa tecnologia tornam-na uma escolha atraente para uma variedade de cenários, desde residências até grandes instalações comerciais.

                    </p>
                </div>
                <div>
                    <h2>Térmica</h2>
                    <p>A energia solar térmica aproveita o calor do sol para aquecer líquidos ou ambientes, sendo uma das maneiras mais eficientes e econômicas de utilizar o potencial da energia solar. Esse tipo de tecnologia é especialmente vantajoso em países tropicais, como o Brasil, onde a incidência de radiação solar é elevada durante o ano inteiro. Ao capturar o calor do sol, os sistemas solares térmicos podem ser utilizados para aquecer água para consumo doméstico, piscinas ou até mesmo para processos industriais. Sua eficiência é notável, pois permite uma redução significativa no consumo de energia elétrica ou de combustíveis fósseis, além de ser uma opção sustentável e de baixo custo operacional a longo prazo. Esse tipo de energia não só contribui para a redução das despesas energéticas, mas também para a diminuição da pegada de carbono, tornando-a uma escolha atraente para diversas aplicações.

                    </p>
                </div>
            </div>
            <h1>Vantagens</h1>
            <div class="conteudo">
                <div>
                    <h2>Redução da conta de luz</h2>
                    <p>
                        A energia solar tem o potencial de reduzir significativamente os custos com eletricidade. Por meio dos painéis fotovoltaicos, é possível gerar energia gratuita a partir da luz solar, o que diminui a dependência da rede elétrica convencional. Com a instalação de sistemas fotovoltaicos, as residências e empresas podem reduzir de forma expressiva o valor da conta de luz, aproveitando a abundância do sol. Em situações em que a geração de energia ultrapassa o consumo, o excedente pode ser enviado para a rede elétrica, gerando créditos que podem ser utilizados para abater custos em faturas futuras. Esse sistema não só proporciona economia financeira, mas também contribui para uma maior sustentabilidade, já que aproveita uma fonte de energia limpa e renovável, diminuindo a necessidade de recursos não renováveis e impactando positivamente o meio ambiente.

                    </p>
                </div>

                <div class="grafico">
                    <img src="{{ url_for('static', filename='imagens/aumentoEconomiaSolar.png') }}"
                        alt="crescimentoEmrepregados" width="40%">
                    <figcaption>Economia acumulada com placas solares</figcaption>
                </div>

                <div>
                    <h2>Fonte limpa e silenciosa</h2>
                    <p>
                        Ao contrário dos geradores tradicionais, que emitem gases poluentes e causam ruídos indesejáveis, a energia solar se destaca por ser completamente limpa e silenciosa. Esse tipo de geração de energia não emite gases prejudiciais ao meio ambiente, o que contribui para a preservação do ar e a qualidade de vida nas cidades. Além disso, a falta de ruído torna a energia solar ideal tanto para áreas urbanas quanto para regiões naturais, onde o silêncio e a tranquilidade são essenciais para o bem-estar das pessoas, animais e ecossistemas. A instalação de painéis solares não causa impactos negativos na fauna local, preservando o equilíbrio ambiental, o que faz da energia solar uma solução sustentável e ecológica, adequada para qualquer tipo de ambiente.
                    </p>
                </div>
                <div>
                    <h2>Baixa manutenção</h2>
                    <p>
                        Os painéis solares são uma das opções mais práticas e de baixo custo de manutenção entre as fontes de energia renovável. Eles exigem muito pouco cuidado, com a necessidade de limpeza ocasional para garantir que a sujeira ou a poeira não interfira na sua eficiência. Além disso, os painéis solares possuem uma vida útil superior a 25 anos, o que os torna um investimento de longo prazo. Como não possuem peças móveis, os painéis têm uma durabilidade muito maior em comparação com outros sistemas de geração de energia, que podem ter partes suscetíveis a desgaste e falhas mecânicas. Esse design simples e robusto contribui para a redução de custos com manutenção e reparos, tornando a energia solar uma solução ainda mais atrativa para quem busca uma forma confiável e econômica de gerar eletricidade.
                    </p>
                </div>
            </div>
            <h1>Desvantagens</h1>
            <div class="conteudo">

                <div>
                    <h2>Custo inicial elevado</h2>
                    <p>
                        Embora a energia solar ofereça uma economia significativa a longo prazo, o investimento inicial ainda representa uma barreira para muitos consumidores. O custo inicial pode ser um desafio, especialmente considerando a necessidade de equipamentos como painéis solares, inversores e, em alguns casos, baterias para sistemas off-grid. No entanto, o retorno sobre o investimento, também conhecido como payback, geralmente ocorre entre 4 a 8 anos, dependendo do consumo de energia e das tarifas locais. Isso significa que, após esse período, o sistema solar começa a gerar economia, o que faz com que o investimento inicial seja recompensado ao longo do tempo.
                    </p>
                    <p>
                        Porém, para quem opta por sistemas off-grid, ou isolados, uma desvantagem adicional é o custo elevado das baterias necessárias para armazenar a energia gerada. Esse componente pode praticamente dobrar o custo total da instalação. Além disso, apesar da queda nos preços dos equipamentos nos últimos anos, a compra e instalação de painéis solares e inversores ainda demandam um investimento considerável. Mesmo com essas barreiras iniciais, o custo-benefício a longo prazo e a contribuição para um futuro mais sustentável tornam a energia solar uma escolha cada vez mais acessível para muitos.
                    </p>
                </div>
                <div>
                    <h2>Geração dependente de luz solar</h2>
                    <p>
                        Embora a energia solar traga uma economia considerável a longo prazo, o investimento inicial para a instalação de painéis solares e seus componentes ainda é alto, variando entre R$ 15.000 e R$ 30.000 para residências. Além disso, sistemas que incluem baterias para armazenamento de energia podem dobrar o custo total da instalação. O retorno sobre esse investimento, conhecido como payback, geralmente ocorre entre 4 e 8 anos, dependendo do consumo e das tarifas locais, o que, a longo prazo, torna o sistema uma opção econômica.
                    </p>
                    <p>
                        No entanto, há algumas limitações a serem consideradas. A energia solar não gera eletricidade durante a noite, o que significa que, para garantir o fornecimento contínuo de energia, é necessário contar com baterias ou estar conectado à rede elétrica. Além disso, a produção de energia solar varia ao longo do dia, com a maior eficiência sendo atingida durante o pico de radiação solar, normalmente ao meio-dia. Em locais com clima nublado ou chuvoso, a eficiência do sistema pode ser consideravelmente reduzida, tornando a energia solar uma opção menos viável em regiões com menor incidência de sol.
                    </p>
                </div>
                <div>
                    <h2>Necessidade de espaço para instalação</h2>
                    <p> Um dos principais desafios práticos da energia solar está relacionado à área necessária para sua implementação eficiente. Para que os sistemas solares fotovoltaicos sejam capazes de gerar uma quantidade significativa de energia, é necessário um espaço adequado para instalar os painéis solares. Isso pode ser um obstáculo em residências com telhados pequenos ou em locais com espaço limitado, onde não há área suficiente para acomodar os painéis necessários para suprir o consumo energético. Além disso, projetos de grande escala, como usinas solares, exigem grandes extensões de terra, com cerca de 1 hectare sendo necessário para gerar 1 MW de energia, o que pode ser inviável em áreas urbanas ou em locais onde a disponibilidade de terrenos é restrita. Portanto, a necessidade de uma área ampla para a instalação de sistemas solares é um desafio significativo, especialmente em ambientes urbanos densamente povoados ou em propriedades com espaço limitado.
                   </p>
                </div>
                <div>
                    <h2>Eficiência varia com clima e localização</h2>
                    <p>
                        O desempenho dos painéis solares pode ser afetado por diversos fatores ambientais, e um deles é o calor extremo. Em temperaturas muito altas, os painéis solares tendem a perder eficiência, o que pode reduzir a quantidade de energia gerada. Isso é especialmente relevante em regiões com climas muito quentes, onde o excesso de calor pode prejudicar o desempenho do sistema.
                    </p>
                    <p>
                        Além disso, há variações regionais que influenciam a eficiência da energia solar. Por exemplo, o Nordeste brasileiro recebe uma maior incidência de radiação solar em comparação com o Sul do país, o que resulta em um desempenho superior dos sistemas solares nessas regiões mais ensolaradas. Essas diferenças geográficas fazem com que o potencial de geração de energia solar varie conforme a localização.
                    </p>
                    <p>
                        Outro fator que pode reduzir a produção de energia solar é a sujeira nos painéis, como poeira e folhas que se acumulam sobre eles. Além disso, o sombreamento, seja causado por árvores, prédios ou outras construções, pode diminuir a quantidade de luz solar que os painéis recebem, prejudicando ainda mais a eficiência do sistema. Portanto, a manutenção regular e a escolha de um local adequado para instalação são essenciais para garantir a melhor performance dos sistemas solares.
                    </p>
                </div>
            </div>
            <h1>Aplicação</h1>
            <div class="conteudo">

                <div>
                    <h2>Residências</h2>
                    <p>
                        A energia solar em casas e apartamentos reduz a conta de luz em até 95%. Os painéis são instalados no telhado e conectados à rede elétrica, permitindo que o excedente vire créditos na conta. É ideal para quem quer economia a longo prazo e menor dependência das concessionárias.
                </p>
                </div>
                <div>
                    <h2>Empresas e Indústrias</h2>
                    <p>
                        Comércios e fábricas usam sistemas solares para cortar custos operacionais, especialmente em horário comercial (quando o sol está mais forte). Grandes telhados de armazéns e galpões são perfeitos para instalações maiores, e empresas podem se beneficiar de incentivos fiscais verdes.
                    </p>
                </div>
                <div>
                    <h2>Usinas Solares</h2>
                    <p>
                        Parques solares geram energia em larga escala para distribuição na rede elétrica. Podem ser instalados em terrenos abertos ou flutuantes (em lagos e represas). No Brasil, estados como Bahia e Minas Gerais lideram em usinas solares, ajudando a diversificar a matriz energética nacional.
                    </p>
                </div>
                <div>
                    <h2>Sistemas off-grid em zonas rurais ou isoladas</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero accusamus
                        fugiat expedita magnam illo aperiam sunt architecto harum cupiditate
                        quas consectetur, rem eos nulla ad consequatur ipsam, necessitatibus
                        nemo quidem.
                    </p>
                </div>
            </div>

            <div class="grafico">
                <img src="{{ url_for('static', filename='imagens/energiaSolarSetor.png') }}" alt="crescimentoEmrepregados"
                    width="40%">
                <figcaption>Uso de placas solares por setor.
                </figcaption>
            </div>
            <h1>Curiosidades</h1>
            <div class="conteudo">

                <ul class="listaCuriosidades">
                    <li>O Brasil é um dos países com maior potencial solar do mundo.
                    </li>
                    <li>Em 2023, mais de 2 milhões de residências já usavam energia solar no Brasil.
                    </li>
                    <li>
                        A energia do Sol que atinge a Terra em 1 hora seria suficiente para abastecer o mundo por 1 ano
                    </li>
                </ul>
            </div>
            <!-- <div>
                <h1>Veja na prática</h1>
                <div class="interacoes">

                    <a href="#">Compare com outras energias</a>
                    <a href="#">Simule sua Economia</a>
                    <a href="#">Veja aplicações reais</a>
                    <a href="#">Quiz rápido</a>
                </div>
            </div> -->
        </div>

        <div id="menuEnergias">
            <h1>Tipos de Energias</h1>

            <div class="opcoes">

                <div class="opcao">

                    <h2>Hídrica</h2>
                    <a href="/hidrica">
                        <img src="{{ url_for('static', filename='imagens/hidrica.png') }}" alt="Hídrica">
                    </a>
                </div>
                <div class="opcao">

                    <h2>Solar</h2>
                    <a href="/solar">
                        <img src="{{ url_for('static', filename='imagens/solar.png') }}" alt="Solar">
                    </a>
                </div>
                <div class="opcao">

                    <h2>Eólica</h2>
                    <a href="/eolica">
                        <img src="{{ url_for('static', filename='imagens/eolica.png') }}" alt="Eólica">
                    </a>
                </div>
                <div class="opcao">

                    <h2>Biomassa</h2>
                    <a href="/biomassa">
                        <img src="{{ url_for('static', filename='imagens/biomassa.png') }}" alt="Biomassa">
                    </a>
                </div>
                <div class="opcao">

                    <h2>Geotérmica</h2>
                    <a href="/geotermica">
                        <img src="{{ url_for('static', filename='imagens/geotermica.png') }}" alt="Geotérmica">
                    </a>
                </div>
                <div class="opcao">

                    <h2>Oceânica</h2>
                    <a href="/oceanica">
                        <img src="{{ url_for('static', filename='imagens/oceanica.png') }}" alt="Oceânica">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="rodape">
        <p>©GREENERGY</p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>